* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

footer {
    background-color: #000000;
    color: #fff;
    padding: 40px 0 0 0;
    width: 100%;
    overflow-x: hidden;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-links,
.footer-contact {
    flex: 1;
    margin-bottom: 30px;
    min-width: 250px;
    padding: 0 15px;
}

.footer-links h3,
.footer-contact h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #555;
}

.footer-links ul,
.footer-contact ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li,
.footer-contact ul li {
    margin-bottom: 10px;
}

.footer-links a,
.footer-contact a {
    display: flex;
    gap: 10px;
    color: #ddd;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover,
.footer-contact a:hover {
    color: #fff;
    text-decoration: underline;
}

.footer-bottom {
    color: #6b6b6b;
    background-color: #000000;
    padding: 15px 0;
    text-align: center;
    font-size: 0.8em;
}

.footer-bottom p {
    margin: 5px 0;
}

.footer-bottom a {
    color: #ddd;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}